.event{
  max-width:30em;
  

  width: 100%;
  border-top: 1px solid @black;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid @black;
  margin-bottom: -1px  ;

}



.event__heading{
  border-color: @colorDark;
}
