.language-menu{
  list-style: none;
  padding:0;
  margin:1em 0;
}

.language-menu__locale{
  display: inline;
  padding: 0 1em;

}
.language-menu__locale--active{
  text-decoration: underline;
}
.language-menu__locale:hover{
  cursor:pointer;
  text-decoration: underline;
}
